.kpi-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #EEE;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.kpi-details-header h1 {
    margin: 0;
    font-size: 24px;
    color: #5925DC;
}

.kpi-details-header .btn-edit {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #FFF;
    background: linear-gradient(90deg, #5925DC, #9C3CE7);
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

.progress-status-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

.progress-container label {
    margin-bottom: 5px;
    color: #000;
    font-weight: bold;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 20px;
    background: #EEE;
    border-radius: 10px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background: #9C3CE7;
    border-radius: 10px;
    transition: width 0.3s, background 0.3s;
}

.progress-text {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #9C3CE7;
    font-weight: bold;
}

.status-hour-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hour-completed {
    display: flex;
    align-items: center;
}

.hour-completed .hours {
    margin-left: 10px;
    color: #5925DC;
    font-weight: bold;
}

.status-container {
    display: flex;
    align-items: center;
}

.status-container label {
    margin-right: 10px;
    margin-bottom: 0px;

    font-weight: bold;
}

.kpi-details {
    display: flex;
    flex-direction: column;
}

.kpi-info, .kpi-goals, .kpi-plans {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    background: #FAFAFA;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.kpi-info h2, .kpi-goals h2, .kpi-plans h2 {
    margin-top: 0;
    color: #000;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #000;
}

label strong {
    display: block;
    margin-bottom: 5px;
}

.kpi-info input[type="text"], 
.kpi-info select, 
.kpi-info textarea, 
.kpi-info input[type="date"],
.kpi-goals input[type="text"], 
.kpi-goals select, 
.kpi-goals textarea, 
.kpi-goals input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    color: #000;
}


textarea {
    height: 100px;
}

.date-label {
    display: inline-block;
    width: 46%;
    margin-right: 30px;
}

.plan-card {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.plan-card .plan-info {
    flex: 1;
}

.plan-card h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.plan-details {
    text-decoration: none;
    color: #5925DC;
    font-size: 14px;
    margin-top: 5px;
}

.plan-percentage {
    margin-right: 20px;
}

.plan-percentage label {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 14px;
}

.plan-percentage input[type="text"] {
    width: 50px;
    margin-left: 10px;
    text-align: center;
}

.plan-checkbox {
    transform: scale(1.2);
}

.add-more-plans {
    text-align: center;
    margin-top: 10px;
}

.add-more-plans .btn-add-more {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #FFF;
    background: linear-gradient(90deg, #5925DC, #9C3CE7);
    cursor: pointer;
}

.kpi-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.kpi-actions .btn-save, .kpi-actions .btn-delete {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
}

.kpi-actions .btn-save {
    background: linear-gradient(90deg, #5925DC, #9C3CE7);
}

.kpi-actions .btn-delete {
    background: linear-gradient(90deg, #5925DC, #9C3CE7);
}

.additional-plans .plan-card {
    display: none;
}

