.container{
    display: flex;
}

.sidebar-container{
    width: 20%;
}

.dashboard{
    margin-left: 20px;
    width: 80%;
}
 
.plan-section h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.progress-status-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

.progress-container label {
    margin-bottom: 5px;
    color: #000;
    font-weight: bold;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 20px;
    background: #EEE;
    border-radius: 10px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background: #9C3CE7;
    border-radius: 10px;
    transition: width 0.3s, background 0.3s;
}

.progress-text {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #9C3CE7;
    font-weight: bold;
}

.status-hour-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hour-completed {
    display: flex;
    align-items: center;
}

.hour-completed .hours {
    margin-left: 10px;
    color: #5925DC;
    font-weight: bold;
}

.status-container {
    display: flex;
    align-items: center;
}

.status-container label {
    margin-right: 10px;
    margin-bottom: 0px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-time {
    display: flex;
    justify-content: space-between;
}

.skills, .activity {
    margin-bottom: 20px;
}

.skills-list, .activity-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 16px 0;
}

.skills-list span, .activity-item {
    background-color: #f0f0f0;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 14px;
}

.activity-item {
    display: flex;
    align-items: center;
}

.logo-activity-list {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.text-act {
    display: flex;
    flex-direction: column;
}

.uxcel {
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.uxcel-logo {
    width: 15px;
    height: 15px;
    margin-right: 4px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.save-btn,
.remove-btn,
.add-activity-btn {
    background: linear-gradient(90deg, #5925DC, #9C3CE7);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.remove-btn {
    background: linear-gradient(90deg, #5925DC, #9C3CE7);
}

.save-btn:hover,
.remove-btn:hover,
.add-activity-btn:hover {
    opacity: 0.8;
}
@media screen and (min-width: 768px) {
    .sidebar-toggle {
        display: none;
    }
}
@media screen and (max-width: 768px) {


    #sidebar-container {
        display: none;
    }

    .search-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-icon {
        width: 30px;
        height: 30px;
        cursor: pointer;
        padding-left: 20px;
    }

    .sidebar-toggle {
        margin-right: 20px;
    }
    .dashboard {
        margin-left: 0px;
        width: 100%;
        padding-right: 30px;

    }
}