.container{
    display: flex;
}

.sidebar-container{
    width: 20%;
}

.dashboard{
    margin-left: 20px;
    width: 80%;
}
 
.plan-section h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.progress-status-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

.progress-container label {
    margin-bottom: 5px;
    color: #000;
    font-weight: bold;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 20px;
    background: #EEE;
    border-radius: 10px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background: #9C3CE7;
    border-radius: 10px;
    transition: width 0.3s, background 0.3s;
}

.progress-text {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #9C3CE7;
    font-weight: bold;
}

.status-hour-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hour-completed {
    display: flex;
    align-items: center;
}

.hour-completed .hours {
    margin-left: 10px;
    color: #5925DC;
    font-weight: bold;
}

.status-container {
    display: flex;
    align-items: center;
}

.status-container label {
    margin-right: 10px;
    margin-bottom: 0px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-time {
    display: flex;
    justify-content: space-between;
}

.skills, .activity {
    margin-bottom: 20px;
}

.skills-list, .activity-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 16px 0;
}

.skills-list span, .activity-item {
    background-color: #f0f0f0;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 14px;
}

.activity-item {
    display: flex;
    align-items: center;
}

.logo-activity-list {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.text-act {
    display: flex;
    flex-direction: column;
}

.uxcel {
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.uxcel-logo {
    width: 15px;
    height: 15px;
    margin-right: 4px;
}

.form-actions {
    display: flex;
    justify-content: space-evenly;
}

.save-btn,
.remove-btn,
.add-activity-btn {
    background: linear-gradient(90deg, #5925DC, #9C3CE7);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.remove-btn {
    background: linear-gradient(90deg, #5925DC, #9C3CE7);
}

.save-btn:hover,
.remove-btn:hover,
.add-activity-btn:hover {
    opacity: 0.8;
}
@media screen and (min-width: 768px) {
    .sidebar-toggle {
        display: none;
    }
}
@media screen and (max-width: 768px) {


    #sidebar-container {
        display: none;
    }

    .search-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-icon {
        width: 30px;
        height: 30px;
        cursor: pointer;
        padding-left: 20px;
    }

    .sidebar-toggle {
        margin-right: 20px;
    }
    .dashboard {
        margin-left: 0px;
        width: 100%;
        padding-right: 30px;

    }
}
.add-activity-btn{
    margin-top: 20px;
}
.confirmModal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.popup-successful {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.popup-successful-content {
    text-align: center;
}

.popup-successful-image {
    width: 92px;
    height: 77px;
}

.popup-successful-title {
    font-size: 36px;
    color: #1E1E1E;
    font-family: Poppins;
    font-weight: 400;
    margin-bottom: 20px;
}

.popup-successful-description {
    font-size: 18px;
    color: #5925DC;
    font-family: Poppins;
    font-weight: 500;
    margin-bottom: 20px;
}

.popup-successful-buttons {
    display: flex;
    justify-content: center;
}

.popup-successful-button {
    background: linear-gradient(0deg, #6938EF 0%, #6938EF 100%), linear-gradient(128deg, #CB3CFF 20%, #7F25FB 68%);
    color: white;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 800;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
}

.popup-successful-button:hover {
    background: linear-gradient(0deg, #7F25FB 0%, #7F25FB 100%), linear-gradient(128deg, #CB3CFF 20%, #7F25FB 68%);
}


.confirm-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}
.confirm-modal-content {
    text-align: center;
}


.confirm-modal button {
    background: linear-gradient(0deg, #6938EF 0%, #6938EF 100%), linear-gradient(128deg, #CB3CFF 20%, #7F25FB 68%);
    color: white;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 800;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
}
.confirm-modal button:hover {
    background: linear-gradient(0deg, #7F25FB 0%, #7F25FB 100%), linear-gradient(128deg, #CB3CFF 20%, #7F25FB 68%);
}