
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.search-bar {
    background-color: #f0f0f3;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-radius: 12px;

}

.logo-section, .search-section, .notification-section, .account-section {
    display: flex;
    align-items: center;
}

.logo-section {
    margin-right: 20px;
}

.account-section{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.logo {
    height: 36px;
    margin-right: 10px;
}

.workspace {
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

.separator {
    font-size: 12px;
    color: #6c757d;
}

.search-input {
    width: 400px;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #f0f0f3;
}

.search-input:focus {
    outline: none;
}

.notification-icon {
    height: 24px;
}

.profile-picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 10px;
}

.account-name {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    justify-content: end;
}

.account-settings {
    display: flex;
    font-size: 14px;
    color: #6c757d;
    justify-content: end;
}

.sort-icon {
   color: #6938ef;
}