
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.search-bar {
    background-color: #f0f0f3;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-radius: 12px;

}

.logo-section, .search-section, .notification-section, .account-section {
    display: flex;
    align-items: center;
}

.logo-section {
    margin-right: 20px;
}

.account-section{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.logo {
    height: 36px;
    margin-right: 10px;
}

.workspace {
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

.separator {
    font-size: 12px;
    color: #6c757d;
}

.search-input {
    width: 400px;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #f0f0f3;
}

.search-input:focus {
    outline: none;
}

.notification-icon {
    height: 24px;
}

.profile-picture {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 10px;
}

.account-name {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    justify-content: end;
}

.account-settings {
    display: flex;
    font-size: 14px;
    color: #6c757d;
    justify-content: end;
}

.sort-icon {
   color: #6938ef;
}

.noti-dropbtn {
    cursor: pointer;
  }
  
.noti-dropdown {
position: relative;
display: inline-block;
}

.noti-dropdown-content {
display: none;
position: absolute;
top: 25px;
background-color: #f9f9f9;
min-width: 300px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
border-radius: 8px;
}

.noti-dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
border-bottom: 1px solid #dcdcdc;
}

.noti-dropdown-content a:hover {background-color: #f1f1f1}

.noti-dropdown:hover .noti-dropdown-content {
display: block;
}


.user-dropbtn {
    cursor: pointer;
}
  
.user-dropdown {
position: relative;
display: inline-block;
}

.user-dropdown-content {
display: none;
position: absolute;
top: 44px;
right: 0px;
background-color: #f9f9f9;
min-width: 200px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
border-radius: 8px;
}

.user-dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
border-bottom: 1px solid #dcdcdc;
}

.user-dropdown-content a:hover {background-color: #f1f1f1}

.user-dropdown:hover .user-dropdown-content {
display: block;
}