
.overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);

}
.container{
    pointer-events: none;
    filter: blur(2px);
}
.help-content{
    z-index: 200;
    height: 0;
    width: 0;
    position: relative;
}
.help-content .help-choose-kpi,
.help-content .help-add-kpi{
    position: absolute;
    display: inline-block;
    padding: 10px;
    background-color: rgb(251, 247, 255);
    border: 1px solid #333;
    border-radius: 10px;
}

.help-content .help-choose-kpi{
    width: 100px;
    top: 200px;
    left: 300px;
}

.help-content .help-add-kpi{
    width: 100px;
    top: 500px;
    left: 360px;
}

.help-add-kpi-btn{
    position: absolute;
    top: 511.5px;
    left: 21px;
    background-color: #6938EF;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    transform: scale(1.03);
    width: 120px;
}

.help-submenu{
    position: absolute;
    top: 199px;
    left: 40px;
    height: 21px;
    width: 155px;
    background-color: #6938ef;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    text-align: left;
    transform: scale(1.01);
}

.arrow-add-kpi{
    position: absolute;
    top: 200px;
    left: 210px;
    position: relative;
    width: 20px;
    height: 20px;
    transform: rotate(-85deg);
  }
  
  .arrow-add-kpi .arrow-head {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent;
    border-bottom: 15px solid black;
    top: 0;
    left: 0;
  }
  
  .arrow-add-kpi .arrow-body {
    position: absolute;
    width: 2px;
    height: 77px;
    background-color: black;
    top: 14px;
    left: 3.7px;
  }
  
  .arrow-submenu{
    position: absolute;
    top: 490px;
    left:140px;
    position: relative;
    width: 20px;
    height: 20px;
    transform: rotate(-90deg);
  }
  
  .arrow-submenu .arrow-head {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent;
    border-bottom: 15px solid black;
    top: 0;
    left: 0;
  }
  
  .arrow-submenu .arrow-body {
    position: absolute;
    width: 2px;
    height: 207px;
    background-color: black;
    top: 14px;
    left: 3.7px;
  }

  .help-content .help-kpicreate{
    display: none;
  }

  .help-input,
  .help-select-plan,
  .help-radio, 
  .help-btn{
    position: absolute;
    display: inline-block;
    padding: 10px;
    background-color: rgb(251, 247, 255);
    border: 1px solid #333;
    border-radius: 10px;
  }

.help-content .help-input{
    width: 100px;
    top: 200px;
    left: 1000px;
}

.help-content .help-select-plan{
    width: 160px;
    top: 500px;
    left: 1000px;
}

.help-content .help-radio{
    width: 150px;
    top: 610px;
    left: 1258px;
}

.help-content .help-btn{
  width: 200px;
  top: 687px;
  left: 967px;
}

#help-kpi-name{
    position: absolute;
    top: 296px;
    left: 652px;
    width: calc(100% - 20px);
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    font-family: poppins;
    background-color: #ffffff;
    width: 467px;
}

.help-content input[type="text"]{
    font-size: poppins;
    font-size: 14px;
}

.help-content .help-dropdown{
    position: absolute;
    top: 470px;
    left: 652px;
    display: inline-block;
    width: 200px;
    background-color: white;
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid #000000;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-input{
    position: absolute;
    top: 276px;
    left: 1000px;
    position: relative;
    width: 20px;
    height: 20px;
    transform: rotate(-135deg);
  }
  
  .arrow-input .arrow-head {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent;
    border-bottom: 15px solid black;
    top: 0;
    left: 0;
  }
  
  .arrow-input .arrow-body {
    position: absolute;
    width: 2px;
    height: 58px;
    background-color: black;
    top: 14px;
    left: 3.7px;
  }
  
  .arrow-select-plan{
    position: absolute;
    top: 454px;
    left: 895px;
    position: relative;
    width: 20px;
    height: 20px;
    transform: rotate(-75deg);
  }
  
  .arrow-select-plan .arrow-head {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent;
    border-bottom: 15px solid black;
    top: 0;
    left: 0;
  }
  
  .arrow-select-plan .arrow-body {
    position: absolute;
    width: 2px;
    height: 96px;
    background-color: black;
    top: 14px;
    left: 3.7px;
  }

  .help-kpicreate .help-method {
    position: absolute;
    top: 572px;
    left: 907px;
    background-color: #f5edff;
    border: 2px solid #a855f7;
    border-radius: 12px;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 220px;
    transform: scale(1.1);
}

.help-kpicreate .help-method input[type="radio"] {
    width: 15px;
    accent-color: #a855f7;
}

.help-kpicreate .help-method label {
    color: #a855f7;
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.arrow-method{
  position: absolute;
  top: 553px;
  left: 1153px;
  position: relative;
  width: 20px;
  height: 20px;
  transform: rotate(-75deg);
}

.arrow-method .arrow-head {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent; 
  border-right: 5px solid transparent;
  border-bottom: 15px solid black;
  top: 0;
  left: 0;
}

.arrow-method .arrow-body {
  position: absolute;
  width: 2px;
  height: 96px;
  background-color: black;
  top: 14px;
  left: 3.7px;
}

.help-content .help-btn-create {
  position: absolute;
  top: 654px;
  left: 653px;
  width: 210px;
  background-color: #8000ff;
  color: #fff;
  border: none;
  padding: 10px 60px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
  margin-top: 10px;
  cursor: auto;
}

.arrow-btn-create{
  position: absolute;
  top: 610px;
  left: 863px;
  position: relative;
  width: 20px;
  height: 20px;
  transform: rotate(-75deg);
}

.arrow-btn-create .arrow-head {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent; 
  border-right: 5px solid transparent;
  border-bottom: 15px solid black;
  top: 0;
  left: 0;
}

.arrow-btn-create .arrow-body {
  position: absolute;
  width: 2px;
  height: 96px;
  background-color: black;
  top: 14px;
  left: 3.7px;
}

.help-content .back{
  position: absolute;
  top: 20px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: rgb(251, 247, 255);
  cursor: pointer;
}

.help-content .back:hover {
  background-color: #d6c0e3;
  color: #1c1c1c;
  transform: scale(1.02);
}

.help-content .icon-back{
  padding: 0px 10px;
  font-size: 30px;
}

.help-cre-kpi {
  top: 0px;
  left: 0px;
}