.overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);

}
.container{
    pointer-events: none;
    filter: blur(2px);
}
.help-content{
    z-index: 200;
    height: 0;
    width: 0;
    position: relative;
}

.help-content .choose-plan{
    position: relative;
    position: absolute;
    top: 245px;
    left: 41px;
  }
  
  .help-submenu{
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 155px;
    background-color: #6938ef;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    text-align: left;
    transform: scale(1.01);
    pointer-events: none;
  }

  .help-text{
    position: absolute;
    display: inline-block;
    padding: 10px;
    background-color: rgb(251, 247, 255);
    border: 1px solid #333;
    border-radius: 10px;
  }

  .help-choose-plan{
    top: -10px;
    left: 390px;
    width: 150px;
  }

.arrow-submenu{
  position: absolute;
  top: 0px;
  left: 170px;
  position: relative;
  width: 20px;
  height: 20px;
  transform: rotate(-90deg);
}


.arrow-submenu .arrow-head {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent; 
  border-right: 5px solid transparent;
  border-bottom: 15px solid black;
  top: 0;
  left: 0;
}

.arrow-submenu .arrow-body {
  position: absolute;
  width: 2px;
  height: 207px;
  background-color: black;
  top: 14px;
  left: 3.7px;
}

.help-content .add-plan-group{
    position: relative;
    position: absolute;
    top: 473px;
    left: 400px;
}

.add-plan-group .help-add-plan{
    width: 120px;
}

.help-content .add-plan-group .btn-recommendation{
  position: absolute;
  top: 39px;
  left: -380px;
  width: 170px;
  height: 20px;
  transform: scale(1.01);
  pointer-events: none;
}

.arrow-add-plan{
  position: absolute;
  top: 43px;
  left: -190px;
  position: relative;
  width: 20px;
  height: 20px;
  transform: rotate(-100deg);
}


.arrow-add-plan .arrow-head {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent; 
  border-right: 5px solid transparent;
  border-bottom: 15px solid black;
  top: 0;
  left: 0;
}

.arrow-add-plan .arrow-body {
  position: absolute;
  width: 2px;
  height: 177px;
  background-color: black;
  top: 14px;
  left: 3.7px;
}

.help-content .fill-input-group{
  position: relative;
  position: absolute;
  top: 117px;
  left: 609px;
}

.fill-input-group .input-field{
  width: 578px;
  margin-bottom: 31px;
  pointer-events: none;
  border: 1px solid #ccc;
  transform: scale(1.01);
}

.fill-input-group .help-input{
  position: absolute;
  top: 80px;
  left: -200px;
}

.arrow-input-name{
  position: absolute;
  top: -203px;
  left: -17px;
  position: relative;
  width: 20px;
  height: 20px;
  transform: rotate(48deg);
}


.arrow-input-name .arrow-head {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent; 
  border-right: 5px solid transparent;
  border-bottom: 15px solid black;
  top: 0;
  left: 0;
}

.arrow-input-name .arrow-body {
  position: absolute;
  width: 2px;
  height: 105px;
  background-color: black;
  top: 14px;
  left: 3.7px;
}

.arrow-input-time{
  position: absolute;
  top: -147px;
  left: -22px;
  position: relative;
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
}


.arrow-input-time .arrow-head {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent; 
  border-right: 5px solid transparent;
  border-bottom: 15px solid black;
  top: 0;
  left: 0;
}

.arrow-input-time .arrow-body {
  position: absolute;
  width: 2px;
  height: 77px;
  background-color: black;
  top: 14px;
  left: 3.7px;
}

.arrow-input-target{
  position: absolute;
  top: -100px;
  left: -24px;
  position: relative;
  width: 20px;
  height: 20px;
  transform: rotate(128deg);
}


.arrow-input-target .arrow-head {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent; 
  border-right: 5px solid transparent;
  border-bottom: 15px solid black;
  top: 0;
  left: 0;
}

.arrow-input-target .arrow-body {
  position: absolute;
  width: 2px;
  height: 98px;
  background-color: black;
  top: 14px;
  left: 3.7px;
}

.help-content .help-select-group{
  position: relative;
  position: absolute;
  top: 341px;
  left: 609px;
}

.help-select-group select{
  width: 600px;
  margin-bottom: 31px;
  pointer-events: none;
  border: 1px solid #ccc;
  transform: scale(1.01);
}

.help-select-group .help-select{
  position: absolute;
  top: 2px;
  left: -200px;
}

.arrow-select{
  position: absolute;
  top: -52px;
  left: -22px;
  position: relative;
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
}


.arrow-select .arrow-head {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent; 
  border-right: 5px solid transparent;
  border-bottom: 15px solid black;
  top: 0;
  left: 0;
}

.arrow-select .arrow-body {
  position: absolute;
  width: 2px;
  height: 34px;
  background-color: black;
  top: 14px;
  left: 3.7px;
}

.help-content .help-creplan-group{
  position: relative;
  position: absolute;
  top: 404px;
  left: 904px;
}

.help-creplan-group .create-plan-button{
  position: absolute;
  width: 106px;
  height: 40px;
  color: #ffffff;
  background-color: #6938ef;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  left: 200px;
}

.help-creplan-group .help-creplan{
  position: absolute;
  left: -45px;
  width: 130px;
}

.arrow-creplan{
  position: absolute;
  top: 13px;
  left: 180px;
  position: relative;
  width: 20px;
  height: 20px;
  transform: rotate(80deg);
}


.arrow-creplan .arrow-head {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent; 
  border-right: 5px solid transparent;
  border-bottom: 15px solid black;
  top: 0;
  left: 0;
}

.arrow-creplan .arrow-body {
  position: absolute;
  width: 2px;
  height: 80px;
  background-color: black;
  top: 14px;
  left: 3.7px;
}

.help-content .back{
  position: absolute;
  top: 20px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: rgb(251, 247, 255);
  cursor: pointer;
}

.help-content .back:hover {
  background-color: #d6c0e3;
  color: #1c1c1c;
  transform: scale(1.02);
}

.help-content .icon-back{
  padding: 0px 10px;
  font-size: 30px;
}

