.main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 40px 0 40px 0;
    transition: transform 0.3s;
    margin: 20px 40px;
}

.card:hover {
    transform: scale(1.05);
}

.icon {
    background:no-repeat center center;
    background-size: cover;
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
    margin-bottom: 100px;
}

a {
    margin: 0;
    color: #333;
    text-decoration: none;
}
