.main-content {
    padding: 20px;
}

.new-kpi-btn {
    background-color: #6938EF;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.new-kpi-btn:hover {
    transform: scale(1.02);
    background-color: #7c28aa;
    color: #dbe4e8;
}


.kpi-section {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.kpi-section h1 {
    margin-bottom: 20px;
    color: #333;
}

.progress-bar-container {
    background-color: #D9D6FE;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.progress-bar {
    position: relative;
    height: 100%;
    background-color: #7A5AF8;
    border-radius: 10px;
}

.progress-bar:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.progress-text {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-weight: bold;
    opacity: 0.9;
}

.hours-completed {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.hours-completed label {
    display: block;
    margin-right: 10px;
}

.hours-completed .hour {
    color: #5925DC;
    margin-left: 5px;
}



.hours-completed .icon {
    margin-left: 5px;
    color: #fff;
    background-color: #8000ff;
}

.kpi-section .time {
    padding-top: 10px;
}

.progress-dates {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-bottom: 20px;
    padding-left: 20px;

}

.time .date-input {
    display: flex;
    align-items: center;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #FAFAFF;
    width: 200px;
}

.date-input label {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #8000ff;
}

.date-input .time-content {
    padding: 5px;
    border: none;
    outline: none;
    font-family: poppins;
    font-size: 16px;
    color: #8000ff;
}

.date-input .time-content:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.time .date-input .icon {
    padding: 5px;
}

.goal {
    margin: 40px 0;
    position: relative;
}

.goal label {
    display: block;
    margin-bottom: 5px;
}

.goal textarea {
    width: 100%;
    height: 60px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    font-family: poppin;
    resize: none;
    color: #777;
    background-color: #fafafa;
}

.goal .icon {
    position: absolute;
    top: 50px;
    right: -15px;
    color: #777;
}

.goal .icon:hover {
    cursor: pointer;
}

.evaluation-methods {
    margin-bottom: 50px;
}

.methods {
    display: flex;
    justify-content: space-between;
}

.method {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 120px;
    background-color: #F4F3FF;
}

.method:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.method input {
    margin-right: 10px;
    margin-bottom: 4px;
    height: 15px;
    width: 15px;
}

.method label {
    color: #5925DC;
}

.save-buttons {
    display: flex;
    justify-content: center;
    gap: 400px;
}

.save-buttons button {
    background-color: #8000ff;
    color: #fff;
    border: none;
    padding: 10px 80px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
}

.save-buttons button:hover {
    background-color: #7c28aa;
    color: #dbe4e8;
    transform: scale(1.02);
}

@media screen and (max-width: 768px) {

    .account-name,
    .account-settings {
        display: none;
    }

    #sidebar-container {
        display: none;
    }

    .search-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-icon {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .sidebar-toggle {
        margin-right: 20px;
    }
}

@media screen and (min-width: 768px) {
    .sidebar-toggle {
        display: none;
    }
}

.time {
    position: relative;
}

.main-content {
    padding: 20px;
}

.new-kpi-btn {
    background-color: #6938EF;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.new-kpi-btn:hover {
    transform: scale(1.02);
    background-color: #7c28aa;
    color: #dbe4e8;
}


.kpi-section {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.kpi-section h1 {
    margin-bottom: 20px;
    color: #333;
}

.progress-bar-container {
    background-color: #D9D6FE;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.progress-bar {
    position: relative;
    height: 100%;
    background-color: #7A5AF8;
    border-radius: 10px;
}

.progress-bar:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.progress-text {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-weight: bold;
    opacity: 0.9;
}

.hours-completed {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.hours-completed label {
    display: block;
    margin-right: 10px;
}

.hours-completed .hour {
    color: #5925DC;
    margin-left: 5px;
}



.hours-completed .icon {
    margin-left: 5px;
    color: #fff;
    background-color: #8000ff;
}

.kpi-section .time {
    padding-top: 10px;
}

.progress-dates {
    display: flex;
    justify-content: center;
    gap: 400px;
    margin-bottom: 20px;
}

.time .date-input {
    display: flex;
    align-items: center;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #FAFAFF;
}

.date-input label {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #8000ff;
}

.date-input input {
    padding: 5px;
    border: none;
    outline: none;
    font-family: poppins;
    font-size: 16px;
    color: #8000ff;
}

.date-input input:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.date-input input[type="date"] {
    background-color: #FAFAFF;
}

.time .date-input .icon {
    padding: 5px;
}

.goal {
    margin: 40px 0;
    position: relative;
}

.goal label {
    display: block;
    margin-bottom: 5px;
}

.goal textarea {
    width: 100%;
    height: 60px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    font-family: poppin;
    resize: none;
    color: #777;
    background-color: #fafafa;
}

.goal .icon {
    position: absolute;
    top: 50px;
    right: -15px;
    color: #777;
}

.goal .icon:hover {
    cursor: pointer;
}

.evaluation-methods {
    margin-bottom: 50px;
}

.methods {
    display: flex;
    justify-content: space-between;
}

.method {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 120px;
    background-color: #F4F3FF;
}

.method:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.method input {
    margin-right: 10px;
    margin-bottom: 4px;
    height: 15px;
    width: 15px;
}

.method label {
    color: #5925DC;
}

.save-buttons {
    display: flex;
    justify-content: center;
    gap: 400px;
}

.save-buttons button {
    background-color: #8000ff;
    color: #fff;
    border: none;
    padding: 10px 80px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
}

.save-buttons button:hover {
    background-color: #7c28aa;
    color: #dbe4e8;
    transform: scale(1.02);
}

.kpi-actions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}