
.main-content {
    flex: 1;
    padding: 20px 0;
}

.new-kpi-btn {
    border: none;
    width: 100%;
    margin: auto;
}

.new-kpi-btn:hover{
    transform:  scale(1.02);
}

.kpi-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.kpi-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 420px;
}

.kpi-card:hover{
    transform: scale(1.02);
}

.kpi-card.in-progress::before {
    content: '';
    width: 5px;
    height: 100%;
    background-color: #7A5AF8;
    position: absolute;
    left: 0;
    top: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.kpi-card .in-progress{
    color: #7A5AF8;
}

.kpi-card.late::before {
    content: '';
    width: 5px;
    height: 100%;
    background-color: #EC6666;
    position: absolute;
    left: 0;
    top: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.kpi-card .late{
    color: #EC6666;
}

.kpi-card.completed::before {
    content: '';
    width: 5px;
    height: 100%;
    background-color: #48C682;
    position: absolute;
    left: 0;
    top: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.kpi-card .completed{
    color: #48C682;
}


.card-content h2:hover{
    color: #6938EF;
}

.card-content a{
    display: block;
    text-decoration: none;
    max-width: 300px;
}

.card-content h2 {
    margin: 0px 5px;
    font-size: 20px;
    color: #333;
    white-space: nowrap;      
    overflow: hidden;           
    text-overflow: ellipsis;
    width: 80%;
}

.card-content > p {
    margin-right: 30px;
    color: #777;
    max-width: 300px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}   


.card-content .meta {
    position: absolute;
    bottom: 10px;
    left: 25px;
    font-size: 12px;
    color: #777;
}

.card-content .meta span{
    display: inline-block;
    margin-right: 8px;
}

.card-content .meta > span {
    color: #777;
}

.card-content .status > span {
    font-weight: bold;
}

.card-image {
    border-radius: 8px;
    overflow: hidden;
    width: 88px;
    height: 88px;
    flex-shrink: 0;
    margin-bottom: 5px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-image:hover{
    transform: scale(1.02);
}

.kpi-card .edit{
    position: absolute;
    top: 5px;
    right: 10px;
    color: #777;
}

.pagination {
    display: flex;
    margin: 20px 0;
    justify-content: center;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: #6938EF;
    color: white;
    border: 1px solid #6938EF;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #d2cde1;
    color: #6d21b9;
}

.prev.disabled,
.next.disabled {
    pointer-events: none;
    opacity: 0.5;
}

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
  }
  
.toast {
display: flex;
align-items: center;
background-color: #fff;
border-radius: 2px;
padding:  0;
min-width: 400px;
max-width: 500px;
border-left: 4px solid;
box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
transition: all linear 0.3s;
}

@keyframes slideInLeft {
from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
}
to {
    opacity: 1;
    transform: translateX(0);
}
}

@keyframes fadeOut {
to {
    opacity: 0;
}
}

.toast--success {
border-color: #47d864;
}

.toast--success .toast__icon {
color: #47d864;
}

.toast--info {
border-color: #2f86eb;
}

.toast--info .toast__icon {
color: #2f86eb;
}

.toast--warning {
border-color: #ffc021;
}

.toast--warning .toast__icon {
color: #ffc021;
}

.toast--error {
border-color: #ff623d;
}

.toast--error .toast__icon {
color: #ff623d;
}

.toast + .toast {
margin-top: 24px;
}

.toast__icon {
font-size: 24px;
}

.toast__icon,
.toast__close {
padding: 0 16px;
}

.toast__body {
flex-grow: 1;
}

.toast__title {
font-size: 16px;
font-weight: 600;
color: #333;
}

.toast__msg {
font-size: 14px;
color: #888;
margin-top: 6px;
line-height: 1.5;
}

.toast__close {
font-size: 20px;
color: rgba(0, 0, 0, 0.3);
cursor: pointer;
}
