.modal-container {
    background: #FFF;
    padding: 10px 20px;
    border-radius: 8px;
    width: 100%;
}

.progress-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.step {
    text-align: center;
}

.step-number {
    width: 30px;
    height: 30px;
    background: #D3D3D3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #FFF;
    margin: 0 auto;
}

.step.active .step-number {
    background: linear-gradient(90deg, #5925DC, #8A2BE2);
}

.step-label {
    margin-top: 5px;
    font-size: 14px;
}

form .form-step {
    display: none;
}

form .form-step-active {
    display: block;
}

form .form-step h2 {
    margin: 0px 12px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, textarea {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

input[type="date"] {
    width: 20%;
}

input[type="checkbox"] {
    width: 5%;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #FFF;
    background: linear-gradient(90deg, #5925DC, #8A2BE2);
    cursor: pointer;
}

button.btn-prev {
    background: #AAA;
}

button.btn-submit {
    background: #5CB85C;
}

button:disabled {
    background: #CCC;
    cursor: not-allowed;
}

.confirm-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.confirm-modal-content{
    background: #FFF;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal-content {
    background: #FFF;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    height: 80vh;
}

.modal-form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.plan-card {
    display: flex;
    align-items: center;
    background: #F9F9F9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #CCC;
    justify-content: space-between;
}

.plan-image {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-right: 10px;
}

.plan-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.plan-info h3 {
    margin: 0;
    font-size: 16px;
}

.plan-info .plan-details {
    font-size: 12px;
    color: #5925DC;
    text-decoration: none;
}

.plan-info .plan-details:hover {
    text-decoration: underline;
}

.plan-percentage {
    width: 100px;
    margin-left: 10px;
}

.small-input {
    width: 20%;
}
