* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; /* Font Popins */

}
.newpass button{
  /* Existing styles */
  background-color: #6938EF;
  color: #fff; /* White text color */
  font-family: "Poppins", sans-serif; /* Font Popins */
  font-size: 15px; /* Font size 20px */
  border: 1px solid transparent;
  border-radius: 60px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
   margin-top: 10px;
  /* New properties */
  height: 50px; /* Button height */
  margin: 0 10px;
  width: 100px;
  text-align: center; /* Center align text */



}
.container_newpass form {
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 50px;
    height: 100%;
    width: 100%;
}

.container_newpass input {
    background-color: #ffffff;
    border: 1px solid #ccc; /* Đường viền màu xám nhạt */
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 6px; /* Bo tròn 6px */
    width: 528px; /* Chiều rộng là 528px */
    height: 50px; /* Chiều cao là 64px */
    outline: none;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;

}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.newpass {
    left: 0;
    width: 50%;
    z-index: 2;
}

.toggle-container-newpass{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 30px 0 0 30px;
    z-index: 10;
}

.toggle_newpass {

    background-image: url('image/03-Sky\ 2.png'); /* Đường dẫn đến hình ảnh */
    background-size: cover; /* Hiển thị hình ảnh mà không bị méo hoặc căn chỉnh */
    background-position: center; /* Căn giữa hình ảnh */
    background-repeat: no-repeat; /* Không lặp lại hình ảnh */
    height: 100%;
    color: #fff;
    position: relative;
    width: 200%;
    filter: none;
    -webkit-filter: none; 
} 

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;

}

.toggle-container-newpass .toggle_newpass .toggle-panel.toggle-right-newpass h1 {
    font-family: 'Poppins', sans-serif; /* Sử dụng font chữ Poppins */
    font-size: 40px; /* Đặt kích thước chữ là 48px */
    text-align: center;
}
.button-newpass{
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-right-password {
    right: 0;
    transform: translateX(0);
}

.newpass h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;  
}

.newpass span {
    font-size: 16px; /* Cỡ chữ 16px */
    font-family: "Poppins", sans-serif; /* Font Popins */
    color: rgb(123, 120, 120); /* Màu #600 */
    text-align: left; /* Căn lề trái */
    margin-bottom: 30px; 

  }
  
.newpass h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: left;
    color:#9794AA;
    font-weight: 500;
}
.newpass h3{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: left;
    color:#9794AA;
    font-weight: 500;

}
.newpass-logo-frame{
    width: 60px; /* Độ rộng của khung chứa */
    height: 60px; /* Độ cao của khung chứa */
  margin-left: auto;
  margin-right: auto;
margin-bottom:20px;
  }
  .newpass-logo {
    width: 100%; /* Chiều rộng của ảnh sẽ chiếm toàn bộ độ rộng của khung chứa */
    height: 100%; /* Chiều cao của ảnh sẽ chiếm toàn bộ độ cao của khung chứa */
    object-fit: cover; /* Ẩn phần thừa của ảnh nếu tỉ lệ khung hình không khớp với ảnh */
  }
  .button-wrap-newpass{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px; /* Điều chỉnh giảm khoảng cách với hàng trên */
}
button a{
    color: #fff; /* White text color */
    font-family: "Poppins", sans-serif; /* Font Popins */
    font-size: 15px; /* Font size 20px */
    font-weight: 400; /* Trọng lượng font regular */
    text-decoration: none;
    font-weight: bold;
}

.frame-background-newpass {
    background-color: rgba(166, 22, 147, 0.2); /* Trắng với độ trong suốt là 20% */
    padding: 60px 40px; /* Padding bên trong hộp */
  }