#sidebar {
    background-color: #fafaff;
    height: 100%;
    padding: 20px 20px 0 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
    display: flex;
    align-items: end;
    margin-bottom: 20px;
    text-decoration: none;
}

.sidebar-header .logo {
    width: 60x;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.sidebar-header h2 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu li {
    margin-bottom: 10px;
    
}

.sidebar-menu li a {
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    transition: background-color 0.3s;
}


.sidebar-menu li a i {
    margin-right: 10px;
}

.sidebar-menu li a:hover{
    background-color: #e9ecef;
    color: #6938ef  ;
}

.sidebar-menu li a.menu-active {
    background-color: #6938ef;
    color: #ffffff;
}
.sidebar-menu .submenu {
    margin-top: 8px;
    list-style-type: none;
    padding-left: 20px;
    display: none;
}

.sidebar-menu .submenu li a {
    padding: 8px;
    font-size: 14px;
}

.sidebar-footer {
    margin-top: 20px;
}

.btn-recommendation {
    font-size: 14px;
    bottom: 0px;
    display: block;
    text-align: center;
    background-color: #6938ef;
    color: white;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-recommendation:hover {
    background-color: #6938ef;
}

